<mat-card class="company-form">
  <form [formGroup]="companiesForm"
        (ngSubmit)="onAddNewCompany()">
    <mat-form-field class="company-full-width">
      <input matInput
             placeholder="Company's name"
             type="text"
             [formControlName]="'companyName'">
      <mat-error *ngIf="!companyName.valid && companyName.touched">Please enter a company name.</mat-error>
    </mat-form-field>
    <mat-form-field class="company-full-width">
      <textarea matInput
                placeholder="Company's description"
                [formControlName]="'companyDescription'"></textarea>
      <mat-error *ngIf="!companyDescription.valid && companyDescription.touched">Please enter a company description.</mat-error>
    </mat-form-field>
    <button mat-raised-button
            color="accent"
            type="submit"
            [disabled]='!companiesForm.valid'>Save</button>
  </form>
</mat-card>
