<mat-accordion *ngIf="companies.length; else noCompanies"
               multi="true">
  <mat-expansion-panel *ngFor="let company of companies; let i = index; trackBy: trackElement">
    <mat-expansion-panel-header>
      {{ company.companyName }}
    </mat-expansion-panel-header>
    <p>
      {{ company.companyDescription }}
    </p>
    <mat-action-row>
      <button mat-button
              color="primary">EDIT</button>
      <button mat-button
              (click)="onDeleteCompany(company.id)"
              color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #noCompanies>
  <mat-card>There is no companies yet!</mat-card>
</ng-template>
